html,
body,
#root,
.App {
	margin: 0;
	padding: 0px;
	background-color: #020204;
	color: #39c7f4;
	font-family: 'Play', sans-serif;
	height: 100vh;
	width: 100vw;
	position: fixed;
	overflow-y: scroll;
}
.App > div:nth-of-type(1) {
	z-index: 2;
}
.App > div:nth-of-type(2) {
	z-index: 1;
}
